ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

POSTGRES_DB=KeepWallet
POSTGRES_USER=KeepWallet
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
API_PORT=5174

ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=KeepWallet;Username=KeepWallet;Password=change-me

Jwt__Issuer=KeepWalletAPI
Jwt__Audience=KeepWalletClient
Jwt__Key=change-this-to-a-long-random-secret-key-min-32-chars
Jwt__ExpiresMinutes=15
Jwt__RefreshTokenExpiresDays=30

Auth__AccessCookieName=access_token
Auth__RefreshCookieName=refresh_token
Auth__RefreshCookiePath=/api/auth
Auth__CookieSameSite=Lax
Auth__UseSecureCookies=true
