POSTGRES_DB=KeepWallet
POSTGRES_USER=KeepWallet
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

API_PORT=5174

JWT_ISSUER=KeepWalletAPI
JWT_AUDIENCE=KeepWalletClient
JWT_KEY=change-this-to-a-long-random-secret-key-min-32-chars
AUTH_USE_SECURE_COOKIES=false
